<p style="font-size:1.3em; text-decoration: underline;" >Рейтинг провайдеров:</p>
<p>Rostelecom:<ngb-progressbar type="success" [value]=[rateRostel]></ngb-progressbar></p>
<p>QWERTY<ngb-progressbar type="primary" [value]=[rateQWERTY]></ngb-progressbar></p>
<p>MGTS<ngb-progressbar type="dark" [value]=[rateMGTS]></ngb-progressbar></p>
<p>Avocado<ngb-progressbar type="secondary" [value]=[rateAvocad]></ngb-progressbar></p>
<p>SpeedyLine(VirginConnect):<ngb-progressbar type="info" [value]=[rateSpeedy]></ngb-progressbar></p>
<button (click)="progress()">Обновить рейтинг</button>